!gradle-wrapper.jar
/.gradle
*.class
*.swp
*.swo
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/modules/test-output/
.idea/libraries/
.idea/checkstyle-idea.xml
out/
build/
test-output/
/plugin/sandbox/
.DS_Store
/email.txt
.env*
.kotlin
.intellijPlatform/
